ag2==0.9.10 ; python_version >= "3.11" and python_version < "3.13"
aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_version < "3.13"
aiohttp==3.13.3 ; python_version >= "3.11" and python_version < "3.13"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "3.13"
aiosqlite==0.22.1 ; python_version >= "3.11" and python_version < "3.13"
alembic==1.18.4 ; python_version >= "3.11" and python_version < "3.13"
altair==6.0.0 ; python_version >= "3.11" and python_version < "3.13"
amqp==5.3.1 ; python_version >= "3.11" and python_version < "3.13"
annotated-doc==0.0.4 ; python_version >= "3.11" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
anyio==4.13.0 ; python_version >= "3.11" and python_version < "3.13"
appdirs==1.4.4 ; python_version >= "3.11" and python_version < "3.13"
apprise==1.9.9 ; python_version >= "3.11" and python_version < "3.13"
asgi-lifespan==2.1.0 ; python_version >= "3.11" and python_version < "3.13"
async-timeout==5.0.1 ; python_version == "3.11" and python_full_version < "3.11.3"
asyncpg==0.31.0 ; python_version >= "3.11" and python_version < "3.13"
attrs==26.1.0 ; python_version >= "3.11" and python_version < "3.13"
autogen==0.9.10 ; python_version >= "3.11" and python_version < "3.13"
autograd==1.8.0 ; python_version >= "3.11" and python_version < "3.13"
autoray==0.8.10 ; python_version >= "3.11" and python_version < "3.13"
bcrypt==5.0.0 ; python_version >= "3.11" and python_version < "3.13"
billiard==4.2.4 ; python_version >= "3.11" and python_version < "3.13"
bitarray==3.8.0 ; python_version >= "3.11" and python_version < "3.13"
blinker==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
build==1.4.2 ; python_version >= "3.11" and python_version < "3.13"
cachecontrol==0.14.4 ; python_version >= "3.11" and python_version < "3.13"
cachetools==6.0.0 ; python_version >= "3.11" and python_version < "3.13"
camel-kenlm==2025.9.16 ; python_version >= "3.11" and python_version < "3.13" and platform_system != "Windows"
camel-tools==1.5.7 ; python_version >= "3.11" and python_version < "3.13"
celery==5.6.3 ; python_version >= "3.11" and python_version < "3.13"
certifi==2026.2.25 ; python_version >= "3.11" and python_version < "3.13"
cffi==2.0.0 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.6 ; python_version >= "3.11" and python_version < "3.13"
chromadb==1.5.5 ; python_version >= "3.11" and python_version < "3.13"
ckzg==1.0.2 ; python_version >= "3.11" and python_version < "3.13"
click-didyoumean==0.3.1 ; python_version >= "3.11" and python_version < "3.13"
click-plugins==1.1.1.2 ; python_version >= "3.11" and python_version < "3.13"
click-repl==0.3.0 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.8 ; python_version >= "3.11" and python_version < "3.13"
cloudpickle==3.1.2 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13"
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "3.13"
coolname==2.2.0 ; python_version >= "3.11" and python_version < "3.13"
croniter==5.0.1 ; python_version >= "3.11" and python_version < "3.13"
cryptography==42.0.8 ; python_version >= "3.11" and python_version < "3.13"
cuda-bindings==13.2.0 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
cuda-pathfinder==1.5.0 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
cuda-toolkit==13.0.2 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.13"
cytoolz==1.1.0 ; python_version >= "3.11" and python_version < "3.13" and implementation_name == "cpython"
dataclasses-json==0.6.7 ; python_version >= "3.11" and python_version < "3.13"
dateparser==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
dill==0.4.1 ; python_version >= "3.11" and python_version < "3.13"
diskcache==5.6.3 ; python_version >= "3.11" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
dnspython==2.8.0 ; python_version >= "3.11" and python_version < "3.13"
docker==7.1.0 ; python_version >= "3.11" and python_version < "3.13"
docopt==0.6.2 ; python_version >= "3.11" and python_version < "3.13"
durationpy==0.10 ; python_version >= "3.11" and python_version < "3.13"
editdistance==0.8.1 ; python_version >= "3.11" and python_version < "3.13"
email-validator==2.3.0 ; python_version >= "3.11" and python_version < "3.13"
emoji==2.15.0 ; python_version >= "3.11" and python_version < "3.13"
eth-abi==5.2.0 ; python_version >= "3.11" and python_version < "3.13"
eth-account==0.11.3 ; python_version >= "3.11" and python_version < "3.13"
eth-hash==0.8.0 ; python_version >= "3.11" and python_version < "3.13"
eth-keyfile==0.9.1 ; python_version >= "3.11" and python_version < "3.13"
eth-keys==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
eth-rlp==1.0.1 ; python_version >= "3.11" and python_version < "3.13"
eth-typing==4.4.0 ; python_version >= "3.11" and python_version < "3.13"
eth-utils==4.1.1 ; python_version >= "3.11" and python_version < "3.13"
exceptiongroup==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
fastapi==0.129.2 ; python_version >= "3.11" and python_version < "3.13"
filelock==3.25.2 ; python_version >= "3.11" and python_version < "3.13"
firebase-admin==7.3.0 ; python_version >= "3.11" and python_version < "3.13"
flatbuffers==25.12.19 ; python_version >= "3.11" and python_version < "3.13"
fonttools==4.62.1 ; python_version >= "3.11" and python_version < "3.13"
frozenlist==1.8.0 ; python_version >= "3.11" and python_version < "3.13"
fpdf2==2.8.7 ; python_version >= "3.11" and python_version < "3.13"
fsspec==2026.2.0 ; python_version >= "3.11" and python_version < "3.13"
future==1.0.0 ; python_version >= "3.11" and python_version < "3.13"
gitdb==4.0.12 ; python_version >= "3.11" and python_version < "3.13"
gitpython==3.1.46 ; python_version >= "3.11" and python_version < "3.13"
google-api-core==2.30.2 ; python_version >= "3.11" and python_version < "3.13"
google-auth==2.49.1 ; python_version >= "3.11" and python_version < "3.13"
google-cloud-core==2.5.1 ; python_version >= "3.11" and python_version < "3.13"
google-cloud-firestore==2.26.0 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
google-cloud-storage==3.10.1 ; python_version >= "3.11" and python_version < "3.13"
google-crc32c==1.8.0 ; python_version >= "3.11" and python_version < "3.13"
google-resumable-media==2.8.2 ; python_version >= "3.11" and python_version < "3.13"
googleapis-common-protos==1.73.0 ; python_version >= "3.11" and python_version < "3.13"
graphviz==0.21 ; python_version >= "3.11" and python_version < "3.13"
greenlet==3.3.2 ; python_version >= "3.11" and python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
griffe==1.15.0 ; python_version >= "3.11" and python_version < "3.13"
grpcio-status==1.78.0 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
grpcio==1.78.0 ; python_version >= "3.11" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.13"
h2==4.3.0 ; python_version >= "3.11" and python_version < "3.13"
hexbytes==0.3.1 ; python_version >= "3.11" and python_version < "3.13"
hf-xet==1.4.2 ; python_version >= "3.11" and python_version < "3.13" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.11" and python_version < "3.13"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "3.13"
httptools==0.7.1 ; python_version >= "3.11" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "3.13"
huggingface-hub==0.36.2 ; python_version >= "3.11" and python_version < "3.13"
humanize==4.15.0 ; python_version >= "3.11" and python_version < "3.13"
hyperframe==6.1.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.11 ; python_version >= "3.11" and python_version < "3.13"
importlib-metadata==8.7.1 ; python_version >= "3.11" and python_version < "3.13"
importlib-resources==6.4.5 ; python_version >= "3.11" and python_version < "3.13"
itsdangerous==2.2.0 ; python_version >= "3.11" and python_version < "3.13"
jinja2-humanize-extension==0.4.0 ; python_version >= "3.11" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.13"
jiter==0.13.0 ; python_version >= "3.11" and python_version < "3.13"
joblib==1.5.3 ; python_version >= "3.11" and python_version < "3.13"
jsonpatch==1.33 ; python_version >= "3.11" and python_version < "3.13"
jsonpointer==3.1.1 ; python_version >= "3.11" and python_version < "3.13"
jsonschema-specifications==2025.9.1 ; python_version >= "3.11" and python_version < "3.13"
jsonschema==4.26.0 ; python_version >= "3.11" and python_version < "3.13"
kiwisolver==1.5.0 ; python_version >= "3.11" and python_version < "3.13"
kombu==5.6.2 ; python_version >= "3.11" and python_version < "3.13"
kubernetes==31.0.0 ; python_version >= "3.11" and python_version < "3.13"
langchain-community==0.2.19 ; python_version >= "3.11" and python_version < "3.13"
langchain-core==0.2.43 ; python_version >= "3.11" and python_version < "3.13"
langchain-text-splitters==0.2.4 ; python_version >= "3.11" and python_version < "3.13"
langchain==0.2.17 ; python_version >= "3.11" and python_version < "3.13"
langsmith==0.1.147 ; python_version >= "3.11" and python_version < "3.13"
llvmlite==0.46.0 ; python_version >= "3.11" and python_version < "3.13"
lru-dict==1.2.0 ; python_version >= "3.11" and python_version < "3.13"
mako==1.3.10 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_version < "3.13"
markdown==3.10.2 ; python_version >= "3.11" and python_version < "3.13"
markupsafe==3.0.3 ; python_version >= "3.11" and python_version < "3.13"
marshmallow==3.26.2 ; python_version >= "3.11" and python_version < "3.13"
matplotlib==3.10.8 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
mesa==3.0.1 ; python_version >= "3.11" and python_version < "3.13"
mmh3==5.2.1 ; python_version >= "3.11" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
msgpack==1.1.2 ; python_version >= "3.11" and python_version < "3.13"
muddler==0.1.3 ; python_version >= "3.11" and python_version < "3.13"
multidict==6.7.1 ; python_version >= "3.11" and python_version < "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
narwhals==2.18.1 ; python_version >= "3.11" and python_version < "3.13"
networkx==3.5 ; python_version >= "3.11" and python_version < "3.13"
numba==0.64.0 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
nvidia-cublas==13.1.0.3 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-cuda-cupti==13.0.85 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cuda-nvrtc==13.0.88 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cuda-runtime==13.0.96 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cudnn-cu13==9.19.0.56 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-cufft==12.0.0.61 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cufile==1.15.1.6 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and sys_platform == "linux"
nvidia-curand==10.4.0.35 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cusolver==12.0.4.66 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cusparse==12.6.3.3 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cusparselt-cu13==0.8.0 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-nccl-cu13==2.28.9 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-nvjitlink==13.0.88 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-nvshmem-cu13==3.4.5 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-nvtx==13.0.85 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
oauthlib==3.3.1 ; python_version >= "3.11" and python_version < "3.13"
onnxruntime==1.24.4 ; python_version >= "3.11" and python_version < "3.13"
openai==1.109.1 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-api==1.40.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-common==1.40.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-grpc==1.40.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-proto==1.40.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-sdk==1.40.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-semantic-conventions==0.61b0 ; python_version >= "3.11" and python_version < "3.13"
opt-einsum==3.4.0 ; python_version >= "3.11" and python_version < "3.13"
oqs==0.10.2 ; python_version >= "3.11" and python_version < "3.13"
orjson==3.11.7 ; python_version >= "3.11" and python_version < "3.13"
overrides==7.7.0 ; python_version >= "3.11" and python_version < "3.13"
packaging==24.2 ; python_version >= "3.11" and python_version < "3.13"
pandas==2.3.3 ; python_version >= "3.11" and python_version < "3.13"
parsimonious==0.10.0 ; python_version >= "3.11" and python_version < "3.13"
pathspec==1.0.4 ; python_version >= "3.11" and python_version < "3.13"
pendulum==2.1.2 ; python_version == "3.11"
pendulum==3.2.0 ; python_version == "3.12"
pennylane-lightning==0.37.0 ; python_version >= "3.11" and python_version < "3.13"
pennylane==0.36.0 ; python_version >= "3.11" and python_version < "3.13"
pillow==12.1.1 ; python_version >= "3.11" and python_version < "3.13"
plotly==5.24.1 ; python_version >= "3.11" and python_version < "3.13"
prefect==2.20.25 ; python_version >= "3.11" and python_version < "3.13"
prompt-toolkit==3.0.52 ; python_version >= "3.11" and python_version < "3.13"
propcache==0.4.1 ; python_version >= "3.11" and python_version < "3.13"
proto-plus==1.27.2 ; python_version >= "3.11" and python_version < "3.13"
protobuf==6.33.6 ; python_version >= "3.11" and python_version < "3.13"
psutil==7.2.2 ; python_version >= "3.11" and python_version < "3.13"
psycopg2-binary==2.9.11 ; python_version >= "3.11" and python_version < "3.13"
py-ecc==8.0.0 ; python_version >= "3.11" and python_version < "3.13"
pyarrow==23.0.1 ; python_version >= "3.11" and python_version < "3.13"
pyasn1-modules==0.4.2 ; python_version >= "3.11" and python_version < "3.13"
pyasn1==0.6.3 ; python_version >= "3.11" and python_version < "3.13"
pybase64==1.4.3 ; python_version >= "3.11" and python_version < "3.13"
pycparser==3.0 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pycryptodome==3.23.0 ; python_version >= "3.11" and python_version < "3.13"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "3.13"
pydantic-settings==2.13.1 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.12.5 ; python_version >= "3.11" and python_version < "3.13"
pydeck==0.9.1 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "3.13"
pyjwt==2.12.1 ; python_version >= "3.11" and python_version < "3.13"
pyparsing==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
pypika==0.51.1 ; python_version >= "3.11" and python_version < "3.13"
pyproject-hooks==1.2.0 ; python_version >= "3.11" and python_version < "3.13"
pyro-api==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
pyro-ppl==1.9.1 ; python_version >= "3.11" and python_version < "3.13"
pyrsistent==0.20.0 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
python-docx==1.2.0 ; python_version >= "3.11" and python_version < "3.13"
python-dotenv==1.2.2 ; python_version >= "3.11" and python_version < "3.13"
python-pptx==1.0.2 ; python_version >= "3.11" and python_version < "3.13"
python-multipart==0.0.22 ; python_version >= "3.11" and python_version < "3.13"
python-slugify==8.0.4 ; python_version >= "3.11" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.11" and python_version < "3.13"
pytzdata==2020.1 ; python_version == "3.11"
pyunormalize==17.0.0 ; python_version >= "3.11" and python_version < "3.13"
pywin32==311 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.13"
qiskit==1.4.5 ; python_version >= "3.11" and python_version < "3.13"
ray==2.54.0 ; python_version >= "3.11" and python_version < "3.13"
readchar==4.2.1 ; python_version >= "3.11" and python_version < "3.13"
redis==7.4.0 ; python_version >= "3.11" and python_version < "3.13"
referencing==0.37.0 ; python_version >= "3.11" and python_version < "3.13"
regex==2026.2.28 ; python_version >= "3.11" and python_version < "3.13"
requests-oauthlib==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "3.13"
requests==2.33.0 ; python_version >= "3.11" and python_version < "3.13"
rfc3339-validator==0.1.4 ; python_version >= "3.11" and python_version < "3.13"
rich==14.3.3 ; python_version >= "3.11" and python_version < "3.13"
rlp==4.1.0 ; python_version >= "3.11" and python_version < "3.13"
rpds-py==0.30.0 ; python_version >= "3.11" and python_version < "3.13"
ruamel-yaml==0.19.1 ; python_version >= "3.11" and python_version < "3.13"
rustworkx==0.17.1 ; python_version >= "3.11" and python_version < "3.13"
safetensors==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
scikit-learn==1.8.0 ; python_version >= "3.11" and python_version < "3.13"
scipy==1.17.1 ; python_version >= "3.11" and python_version < "3.13"
seaborn==0.13.2 ; python_version >= "3.11" and python_version < "3.13"
semantic-version==2.10.0 ; python_version >= "3.11" and python_version < "3.13"
setuptools==81.0.0 ; python_version >= "3.11" and python_version < "3.13"
shap==0.45.1 ; python_version >= "3.11" and python_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.13"
slicer==0.0.8 ; python_version >= "3.11" and python_version < "3.13"
smmap==5.0.3 ; python_version >= "3.11" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
sqlalchemy==2.0.35 ; python_version >= "3.11" and python_version < "3.13"
sqlmodel==0.0.22 ; python_version >= "3.11" and python_version < "3.13"
starlette==0.52.1 ; python_version >= "3.11" and python_version < "3.13"
stevedore==5.7.0 ; python_version >= "3.11" and python_version < "3.13"
streamlit==1.55.0 ; python_version >= "3.11" and python_version < "3.13"
symengine==0.13.0 ; python_version >= "3.11" and python_version < "3.13"
sympy==1.14.0 ; python_version >= "3.11" and python_version < "3.13"
tabulate==0.10.0 ; python_version >= "3.11" and python_version < "3.13"
tenacity==8.5.0 ; python_version >= "3.11" and python_version < "3.13"
termcolor==3.3.0 ; python_version >= "3.11" and python_version < "3.13"
text-unidecode==1.3 ; python_version >= "3.11" and python_version < "3.13"
threadpoolctl==3.6.0 ; python_version >= "3.11" and python_version < "3.13"
tiktoken==0.12.0 ; python_version >= "3.11" and python_version < "3.13"
tokenizers==0.19.1 ; python_version >= "3.11" and python_version < "3.13"
toml==0.10.2 ; python_version >= "3.11" and python_version < "3.13"
toolz==1.1.0 ; python_version >= "3.11" and python_version < "3.13" and (implementation_name == "cpython" or implementation_name == "pypy")
torch==2.11.0 ; python_version >= "3.11" and python_version < "3.13"
torchsde==0.2.6 ; python_version >= "3.11" and python_version < "3.13"
tornado==6.5.5 ; python_version >= "3.11" and python_version < "3.13"
tqdm==4.67.3 ; python_version >= "3.11" and python_version < "3.13"
transformers==4.43.4 ; python_version >= "3.11" and python_version < "3.13"
triton==3.6.0 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
typer==0.17.5 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "3.13"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2025.3 ; python_version >= "3.11" and python_version < "3.13"
tzlocal==5.3.1 ; python_version >= "3.11" and python_version < "3.13"
ujson==5.12.0 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.6.3 ; python_version >= "3.11" and python_version < "3.13"
uvicorn==0.41.0 ; python_version >= "3.11" and python_version < "3.13"
uvloop==0.22.1 ; python_version >= "3.11" and python_version < "3.13" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
vine==5.1.0 ; python_version >= "3.11" and python_version < "3.13"
watchdog==6.0.0 ; python_version >= "3.11" and python_version < "3.13" and platform_system != "Darwin"
watchfiles==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
wcwidth==0.6.0 ; python_version >= "3.11" and python_version < "3.13"
web3==6.20.4 ; python_version >= "3.11" and python_version < "3.13"
websocket-client==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
websockets==13.1 ; python_version >= "3.11" and python_version < "3.13"
yarl==1.23.0 ; python_version >= "3.11" and python_version < "3.13"
z3-solver==4.16.0.0 ; python_version >= "3.11" and python_version < "3.13"
zipp==3.23.0 ; python_version >= "3.11" and python_version < "3.13"
anthropic>=0.109.0

python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
# Payment rails are OPTIONAL and deliberately NOT pinned here: a LIVE Stripe key is
# present in .env, so activating real charges requires three deliberate steps —
# `pip install stripe`, plus STRIPE_LIVE_ENABLED=true, plus a live key. See agentic_core/api/v310/payments.py.
