MJM_SECRET_KEY=v17_beta_secret_placeholder
NVIDIA_VISIBLE_DEVICES=all
OCTO_MODE=CONTINUOUS
BTO_API_PORT=3000
VSB_ENDPOINT=ws://localhost:8080/vsb
GAAS_MIN_CONFIDENCE=0.85
OAM_QKD_FALLBACK_THRESHOLD=0.15
AF3_SURROGATE_MODE=HIGH_FIDELITY
